$white-regular: #E2E2E2;
$black-neutral: #010101;
$gray-neutral: #676767;
$gray-tertiary: #393939;
$gray-subtext: #939393;
$green-dark: #3B5948;
$green-primary: #3B5948CC;
$yellow-primary: #978640CC;
$red-primary: #E91919;
$blue-primary: #0600B2;



// SPACING
$psace-20: calc(8px + 0.625vw);