.scroll-header {

  .mobile {
    .logo-info {
      width: 298px;
      height: fit-content;
      background-color: white;
      padding: 24px 20px;
      margin-right: auto !important;

      .logo {
        width: 158px;
      }
    }

    .menu-toggle {
      justify-content: left;
      align-content: center;
      gap: 40px;

      .img-icon-sm {
        cursor: pointer;
      }
    }

    .mobile-nav {
      position: absolute;
      height: 0;
      width: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: all ease-in-out .3s;
    }

    .mobile-nav.show-menu {
      top: 0;
      left: 0;
      background: white;
      z-index: 999;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100vh;
      background-color: #000000CC;
    }

    .main-menu {
      // border-top: solid 1px #E1E1E1;
      display: flex;
      justify-content: left;
      align-items: center;
      position: relative;

      .menu-menu-main-container {
        width: 298px;
        height: 100vh;
        background-color: white;
        padding: 24px 20px;

        .menu {
          display: flex;
          gap: 20px;
          width: fit-content;
          // margin: 0 auto;
          padding: 0;
          flex-direction: column;

          .menu-item {
            width: fit-content;
            list-style: none;
            border-bottom: 4px solid transparent;
            transition: all .4s ease-in-out;

            a {
              color: #010101;
              text-decoration: none;
              text-transform: uppercase;
              font-size: clamp(10px, calc(8.8px + 0.375vw), 16px);
              line-height: 120%;
              // padding: 16px 0;
              display: inline-block;
            }

            &:hover {
              border-bottom: 4px solid #010101;
            }
          }

          .mega-menu {
            opacity: 0;
            visibility: hidden;
          }
        }
      }


    }
  }
}

//SIZE
.img-icon-sm {
  width: 24px;
  height: 24px;
}

.header-thumb {
  width: calc(223.8px + 5.6875vw);
  height: 242px;
  object-fit: cover;
  max-width: 333px;
}