.scroll-header {

  .mobile {
    .logo-info {
      width: 298px;
      height: fit-content;
      background-color: white;
      padding: 24px 20px;
      margin-right: auto !important;

      .logo {
        width: 158px;
      }
    }

    .menu-toggle {
      justify-content: left;
      align-content: center;
      gap: 40px;

      .img-icon-sm {
        cursor: pointer;
      }
    }

    .mobile-nav {
      position: absolute;
      height: 0;
      width: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: all ease-in-out .3s;
    }

    .mobile-nav.show-menu {
      top: 0;
      left: 0;
      background: white;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100vh;
      background-color: #000000CC;
    }

    .main-menu {
      display: flex;
      justify-content: left;
      align-items: center;
      position: relative;
      width: 298px;

      .menu-menu-main-container {
        width: 298px;
        height: 100vh;
        background-color: white;
        padding: 24px 20px;

        .menu {
          display: flex;
          gap: 20px;
          padding: 0;
          flex-direction: column;

          .menu-item {
            list-style: none;
            transition: all .4s ease-in-out;

            a {
              color: #010101;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 16px;
              line-height: 120%;
              display: inline-block;
            }

          }

          .has-mega-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .mega-menu-toggle {
              color: #09244B;
              cursor: pointer;
            }
          }

          .show-mega-mobile {
            .mega-menu {

              visibility: visible;
              opacity: 1;
              z-index: 10;
              top: 0 !important;
              left: 0 !important;

              .mobile-title-mega {
                display: flex;
                gap: 8px;
                align-items: center;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                padding: 24px 20px;
                border-top: 1px solid #E1E1E1;
                border-bottom: 1px solid #E1E1E1;
              }

              .custome-container {
                padding: 0 20px 24px 20px;

                .menu-description {
                  padding-bottom: 20px;
                }

                .list {
                  padding-left: 0 !important;
                  margin-bottom: 0.5rem;
                  border-bottom: 1px solid #E1E1E1;
                  display: flex;
                  flex-direction: column;
                  gap: 0px;
                }

                .des-img {
                  width: 100%;
                  padding-bottom: 20px;

                  .item {
                    width: 100%;

                    .header-thumb {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }

          .mega-menu {
            width: 100%;
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}

//SIZE
.img-icon-sm {
  width: 24px;
  height: 24px;
}

.header-thumb {
  width: calc(223.8px + 5.6875vw);
  height: 242px;
  object-fit: cover;
  max-width: 333px;
}