.validation_error {
  display: none;
}

.gform_wrapper .validation_message {
  padding-top: 5px !important;
  color: #dd1414 !important;
  font-weight: 400 !important;
  font-size: 1.2rem;
}

.contact-form .gform_wrapper .gform_heading .gform_title {
  color: #010101;
  font-size: clamp(14px, 8px + 1.25vw, 32px);
  line-height: 120%;
  padding-bottom: 8px;
}
.contact-form .gform_wrapper .gform_heading .gform_description {
  margin-bottom: 0 !important;
  font-size: clamp(12px, 10.4px + 0.5vw, 20px);
  line-height: 120%;
  width: 100% !important;
  color: #676767;
  padding-bottom: 16px;
}
.contact-form .gform_confirmation_message {
  color: #010101;
}
.contact-form .gform-theme--foundation .gform_fields {
  grid-row-gap: 16px !important;
}
.contact-form .gform_footer {
  margin: 16px auto 0 auto !important;
  padding: 0 !important;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.contact-form #gform_1 .gform_footer input[type=submit] {
  background-color: #3B5948;
  outline: none;
  cursor: pointer;
  font-size: clamp(12px, 10.4px + 0.5vw, 20px);
  width: 290px !important;
  height: 48px;
  color: #ffffff !important;
  text-decoration: underline;
}
.contact-form .gfield_description {
  text-align: right;
}
.contact-form .gfield_label.gform-field-label,
.contact-form .gform-field-label.gform-field-label--type-sub {
  color: #010101;
  font-size: clamp(10px, 8.8px + 0.375vw, 16px);
  line-height: 120%;
}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  color: #676767;
  font-size: clamp(10px, 8.8px + 0.375vw, 16px);
  line-height: 120%;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #676767;
  font-size: clamp(10px, 8.8px + 0.375vw, 16px);
  line-height: 120%;
}
.contact-form .gfield_required {
  display: none;
}
.contact-form .gfield_label .gfield_required::after {
  content: "*";
  color: #010101;
}

.contact-cation .gform_wrapper .gform_heading .gform_title {
  color: #ffffff;
  font-size: clamp(16px, 7.2px + 2.75vw, 60px);
  line-height: 120%;
  padding-bottom: 8px;
}
.contact-cation .gform_wrapper .gform_heading .gform_description {
  margin-bottom: 0 !important;
  font-size: clamp(12px, 10.4px + 0.5vw, 20px);
  line-height: 120%;
  width: 100% !important;
  color: #F5F6F6;
  padding-bottom: 16px;
}
.contact-cation input::-moz-placeholder, .contact-cation textarea::-moz-placeholder {
  color: #676767;
  font-size: clamp(10px, 8.8px + 0.375vw, 16px);
  line-height: 120%;
  text-align: left;
}
.contact-cation input::placeholder,
.contact-cation textarea::placeholder {
  color: #676767;
  font-size: clamp(10px, 8.8px + 0.375vw, 16px);
  line-height: 120%;
  text-align: left;
}
.contact-cation .gform_footer.before input[type=submit] {
  margin: 0 auto !important;
  background-color: transparent !important;
  outline: none;
  cursor: pointer;
  font-size: clamp(12px, 10.4px + 0.5vw, 20px);
  color: #ffffff !important;
  text-decoration: underline !important;
  box-shadow: none !important;
}/*# sourceMappingURL=form.css.map */