.validation_error {
  display: none;
}


.gform_wrapper .validation_message {
  padding-top: 5px !important;
  color: #dd1414 !important;
  font-weight: 400 !important;
  font-size: 1.2rem;
}

.contact-form {
  .gform_wrapper .gform_heading .gform_title {
    color: #010101;
    font-size: clamp(14px, calc(8px + 1.25vw), 32px);
    line-height: 120%;
    padding-bottom: 8px;
  }

  .gform_wrapper .gform_heading .gform_description {
    margin-bottom: 0 !important;
    font-size: clamp(12px, calc(10.4px + 0.5vw), 20px);
    line-height: 120%;
    width: 100% !important;
    color: #676767;
    padding-bottom: 16px;
  }

  .gform_confirmation_message {
    color: #010101;
  }

  .gform-theme--foundation .gform_fields {
    grid-row-gap: 16px !important;
  }


  // submit button //
  .gform_footer {
    margin: 16px auto 0 auto !important;
    padding: 0 !important;
    position: relative;
    width: max-content;
  }

  .gform_button {
    background-color: #3B5948 !important;
    outline: none;
    cursor: pointer;
    font-size: clamp(12px, calc(10.4px + 0.5vw), 20px);
    width: 290px !important;
    height: 48px;
    color: #ffffff !important;
    text-decoration: underline;

    &:hover {
      color: #C5B36A !important;
    }
  }

  .gfield_label.gform-field-label,
  .gform-field-label.gform-field-label--type-sub {
    color: #010101;
    font-size: clamp(10px, calc(8.8px + 0.375vw), 16px);
    line-height: 120%;
  }

  input::placeholder,
  textarea::placeholder {
    color: #676767;
    font-size: clamp(10px, calc(8.8px + 0.375vw), 16px);
    line-height: 120%;
  }

  // custom (required)=> * //
  .gfield_required {
    display: none;
  }

  .gfield_label .gfield_required::after {
    content: "*";
    color: #010101;
  }
}

.contact-cation {
  .gform_wrapper .gform_heading .gform_title {
    color: #ffffff;
    font-size: clamp(16px, calc(7.2px + 2.75vw), 60px);
    line-height: 120%;
    padding-bottom: 8px;
  }

  .gform_wrapper .gform_heading .gform_description {
    margin-bottom: 0 !important;
    font-size: clamp(12px, calc(10.4px + 0.5vw), 20px);
    line-height: 120%;
    width: 100% !important;
    color: #F5F6F6;
    padding-bottom: 16px;
  }

  input::placeholder,
  textarea::placeholder {
    color: #676767;
    font-size: clamp(10px, calc(8.8px + 0.375vw), 16px);
    line-height: 120%;
    text-align: left;
  }

  .gform_footer input[type=submit] {
    background-color: transparent !important;
    outline: none;
    cursor: pointer;
    font-size: clamp(12px, calc(10.4px + 0.5vw), 20px);
    color: #ffffff !important;
    text-decoration: underline !important;
    box-shadow: none !important;
  }

  .gform_footer {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      input[type=submit] {
        color: #C5B36A !important;
      }
    }
  }
}

.product-info-cta {
  .gform_wrapper .gform_heading .gform_title {
    color: #010101;
    font-size: clamp(14px, calc(8px + 1.25vw), 32px);
    line-height: 120%;
    padding-bottom: 8px;
    font-weight: 500;
  }

  .gform_wrapper .gform_heading .gform_description {
    margin-bottom: 0 !important;
    font-size: clamp(12px, calc(10.4px + 0.5vw), 20px);
    line-height: 120%;
    width: 100% !important;
    color: #676767;
    padding-bottom: 16px;
  }

  input::placeholder,
  textarea::placeholder {
    color: #676767;
    font-size: clamp(10px, calc(8.8px + 0.375vw), 16px);
    line-height: 120%;
    text-align: left;
  }

  .gform_footer input[type=submit] {
    background-color: transparent !important;
    outline: none;
    cursor: pointer;
    font-size: clamp(12px, calc(10.4px + 0.5vw), 20px);
    color: #010101 !important;
    text-decoration: underline !important;
    box-shadow: none !important;
    font-weight: 700 !important;
  }

  .gform_footer {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      input[type=submit] {
        color: #C5B36A !important;
      }
    }
  }
}